@model Sprint3.Models.DesempenhoFinanceiro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DesempenhoFinanceiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lucro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crescimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crescimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
