@model IEnumerable<Sprint3.Models.DesempenhoFinanceiro>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Desempenho Financeiro</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Adicionar Novo</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Receita</th>
                    <th scope="col">Lucro</th>
                    <th scope="col">Crescimento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Receita</td>
                        <td>@item.Lucro</td>
                        <td>@item.Crescimento</td>
                        <td>
                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>